$primary: #5265E1;
$secondary: #FA5959;




@import "../node_modules/bootstrap/scss/bootstrap";

.nav-tabs{
    --bs-nav-tabs-border-width: none;    
}
.nav-tabs .nav-link {
   
    border-bottom: 1px solid grey;
   color: grey;
}
.nav-tabs .nav-link.active {
   
    border-bottom: 3px solid red;
    font-weight: bold;
}




